.brand{
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    color: #295939;
}

body{
    background-color: #FFE9D6;
}

.progName{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    color: #065446;
    font-family: 'Nunito Sans', sans-serif;
}

main{
    padding-left: 10px;
}

h2{
    font-family: 'Andada Pro', serif;
    font-weight: 700;
    color: #1F441E;
}

p{
    font-size: 1.2rem;
    color: #1d311b;
}

.theCode{
    background-color: #706969;
    padding: 25px;
    border-radius: 20px;
    color: #fff7f7;
}

code{
    font-size: 1.1rem;
}

dfn{
    font-size: 1.1rem;
}

h4{
    color: #444941;
    font-size: 1.1rem;
    margin: 0;
}

h5{
    color: #073303;
    margin: 8px;
    font-size: 1rem;
}

article{
    font-size: 1.3rem;
    color: #053803;
}

hr{
    width: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.refs{
    font-size: 1.1rem;
}

a{
    text-decoration: none;
    color: #073303;
    font-size: 1.1rem;
}

footer{
    margin: 0;
    text-align: center;
    font-size: 1.1rem;
    background-color: rgb(255, 214, 160);
}